body {
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    width: 600px;
    height: 167px;
    background-image: url("images/burger.png");
    background-size: cover;
    background-position: center;

}

.hero-title {
    color: white;
    position: relative;
    top: 46px;
    left: 46px;
    padding: 0px;
    margin: 0px;
}

.hero-title h1 {
    font-size: 40px;
    margin: 3px;
}

.hero-title p {
    font-size: 24px;
    margin: 3px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #DEDEDE;
}

.item-info {
    display: flex;
    justify-content: start;
}

.item-emoji{
    font-size: 90px;
    margin-right: 10px;
    /* background-color: yellow; */
}

.item-desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
    /* background-color: red; */
}

.item-name {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.item-ingredients {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.item-price {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.add-btn {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #DEDEDE;
    box-shadow: none;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.add-btn:active {
    border-color: grey;
}

.order {
    width: 508px;
    padding: 0 20px;
}

.order-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.order-items {
    border-bottom: 1px solid black;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-item-name {
    font-size: 24px;
}

.order-item-remove {
    color: #BBBBBB;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

.order-item-cost {
    font-size: 20px;
}


.total-price {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #393333;
    margin-top: 20px;
    padding-top: 20px;
}

.total-price-text, .total-price-amount {
    font-size: 28px;
}

#complete-order {
    width: 100%;
    background-color: #16DB99;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}

.modal-order {
    background: white;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    right: auto;
    left: auto;
    top: 200;
    bottom: 0;
    width: 400;
    height: 450;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.7);
    font-family: Verdana, sans-serif;
}

#modal-title {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
}

.modal-input {
    width: 90%;
    margin: 10px 0;
    padding: 15px 15px;
}

#complete-payment {
    width: 90%;
    background-color: #16DB99;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.thank-you {
    color: #065F46;
    background-color: #ECFDF5;
    margin-top: 30px;
    width: 508px;
    height: 100px;
    font-size: 28px;
    display: none;
    justify-content: center;
    align-items: center;
}